@model IEnumerable<YourTravelTcc.Models.Guide>

@{
    ViewData["Title"] = "GuidesFound";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<h1>GuidesFound</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonData.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonData.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                <form action="SendMessage/Traveler" method="get">
                    <input type="hidden" name="guideID" value="@(item.ID)"/>
                    <input type="submit" value="Send a message"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
