@model IEnumerable<YourTravelTcc.Models.Message>
@{
    ViewData["Title"] = "Guide MessagesPage";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<h1>Messages:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.Traveler.FullName )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Text )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.Traveler.FullName )
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.Text )
                </td>
                <td>
                    <form action="SendMessage/Guide" method="get">
                        <input type="hidden" name="travelerID" value="@(item.TravelerID)"/>
                        <input type="submit" value="Reply" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
